@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    padding: 12px;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

p {
    font-weight: 500;
}

.container-curso {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 50px;
    align-items: center;
}

.container-curso footer {
    display: flex;
    gap: 24px;
    font-weight: 500;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.img-curso {
    width: 800px;
}

main {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
}

main h2 {
    width: 100%;
}

ul li:nth-child(1) a{
    color: #094F98;   
}

ul li:nth-child(2) a{
    color: #D34B57;   
}

ul li:nth-child(3) a{
    color: #3d77ff;   
}

ul li:nth-child(4) a{
    color: #2dbd62;   
}

ul li a{
    font-weight: 450;
}
